<h1>Découverte Angular</h1>

<a no-open href="https://google.com">Google !</a>

<a confirm confirm-message="Vraiment ?" href="https://twitter.com">Twitter !</a>

<h3>Bonjour</h3>

<p highlight>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate tenetur velit voluptatibus. At, cumque
  distinctio fugit ipsa necessitatibus nesciunt nisi non, quas suscipit vero voluptatibus.
</p>

<p highlight background-color="blue" base-color="purple">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti excepturi ipsum magni possimus reprehenderit
  similique.
</p>
