<h1>Découverte Angular</h1>

<newsletter
  (confirm)="onConfirm($event)"
  title="Recevez nos courriers"
  button-text="Confirmer"
  placeholder="Votre adresse mail svp">
  <p>Vous recevrez l'ensemble de nos informations !</p>
  <a href="#">En savoir plus</a>
</newsletter>

<card title="Ma carte">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eius ipsam nihil officia quae, totam?</p>
  <p>Lorem ipsum dolor sit amet.</p>
  <footer>
    <a href="#">En savoir plus</a>
  </footer>
</card>
